{% extends "base.html" %}
{% block content %}
{{ block.super }}
<style>
/* Make secondary action buttons clearly visible */
.btn-soft-secondary,
.btn-outline-secondary,
.btn-light {
    background-color: #0b2a6f !important;
    color: #fff !important;
    border-color: #0b2a6f !important;
}

.btn-soft-secondary:hover,
.btn-outline-secondary:hover,
.btn-light:hover {
    background-color: #1240a8 !important;
    border-color: #1240a8 !important;
    color: #fff !important;
}
</style>
{% endblock %}
